{#
/**
* @file
* Default theme implementation to display the google store locator.
*
* @see template_preprocess_google_store_locator()
*
* @ingroup themeable
*/
#}
<div{{ attributes}}>
  {{ gsl_panel }}
  {{ gsl_map }}
</div>
